body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #d0f0f0; 
}
.container{
text-align:center;
}
svg {
  border: solid grey 10px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;
}

.enemy {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  from    { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from    { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
.scoreboard{
  margin-left: calc(50% - 100px);
  margin-bottom: 10px;
  text-align: center;
  border: solid #ffa07a 5px;
  width: 200px;
  height: 75px;
  background-color: white;
}

.gameOver{
  box-sizing:border-box;
  padding-top: 25%;
  display: none;
  font-size: 50px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}